## Time series
Plik w którym tworze jeden odpowiedni szereg czasowy

In [357]:
import pandas as pd
import numpy as np

In [564]:
company = "AAPL"
df = pd.read_csv(f"../datasets/v2/sentiment_weighted/w1/{company}.csv", parse_dates=["post_date"])

In [565]:
df = df.set_index('post_date')
closed_market = df.between_time('00:00', '15:00')

In [566]:
closed_market_grp = closed_market.groupby(pd.Grouper(freq='D'))
closed_market = closed_market_grp.mean()
closed_market["count"] = closed_market_grp['count'].sum()
closed_market.head()

,max_comp,max_neg,max_neu,max_pos,min_comp,min_neg,min_neu,min_pos,std_comp,std_neg,...,std_pos,mean_comp,mean_neg,mean_neu,mean_pos,median_comp,median_neg,median_neu,median_pos,count
post_date,,,,,,,,,,,,,,,,,,,,,
2015-01-01,13.309850,0.636247,34.722947,6.642970,-1.340964,0.0056,0.692980,0.018467,5.443849,0.234109,...,2.520906,2.486178,0.106326,8.342843,1.356241,0.190988,0.020133,0.943457,0.097167,129
2015-01-02,10.224339,0.309147,248.546075,5.145162,-0.572396,0.0000,0.719278,0.000000,2.574673,0.080415,...,1.261972,0.771012,0.029724,4.906789,0.410802,0.000000,0.000000,0.986575,0.000000,319
2015-01-03,1.184568,0.202927,4.234107,0.525183,-0.211379,0.0000,0.677753,0.029410,0.374574,0.053213,...,0.142026,0.345027,0.018041,1.118697,0.142312,0.256067,0.000000,0.878370,0.098130,214
2015-01-04,50.425818,0.188897,122.382213,18.905522,-0.326073,0.0000,0.633953,0.022875,12.360809,0.056495,...,4.608064,3.219616,0.024241,8.137097,1.221484,0.314517,0.000000,0.862989,0.109769,217
2015-01-05,5.090166,0.240544,8.394294,2.235134,-0.515234,0.0000,0.592250,0.000000,1.347237,0.063766,...,0.551064,0.480120,0.027094,1.383764,0.224975,0.243353,0.000000,0.887911,0.099278,393

In [567]:
closed_market.index +=  pd.to_timedelta(1, unit='H')

In [568]:
len(closed_market)

1827

In [569]:
print(len(df))
df = df.drop(index=df.between_time('00:00', '15:00').index)
print(len(df))

41582
14264

In [570]:
first_hour_mask = df.groupby(df.index.date).head(1).index

In [571]:
print(len(first_hour_mask), len(closed_market))
to_drop = list(set(closed_market.index.strftime("%Y-%m-%d")) - set(first_hour_mask.strftime("%Y-%m-%d")))
print(to_drop)
for i in to_drop:
    closed_market.drop(closed_market.loc[i].index, inplace=True)
closed_market.index = first_hour_mask
print(len(first_hour_mask), len(closed_market))

1813 1827
['2020-01-01', '2017-03-28', '2015-07-07', '2018-10-03', '2015-05-02', '2015-08-22', '2016-07-29', '2015-05-09', '2017-09-08', '2015-02-15', '2015-10-11', '2015-12-16', '2017-03-13', '2015-03-25']
1813 1813

In [572]:
closed_market.head()

,max_comp,max_neg,max_neu,max_pos,min_comp,min_neg,min_neu,min_pos,std_comp,std_neg,...,std_pos,mean_comp,mean_neg,mean_neu,mean_pos,median_comp,median_neg,median_neu,median_pos,count
post_date,,,,,,,,,,,,,,,,,,,,,
2015-01-01 16:00:00,13.309850,0.636247,34.722947,6.642970,-1.340964,0.0056,0.692980,0.018467,5.443849,0.234109,...,2.520906,2.486178,0.106326,8.342843,1.356241,0.190988,0.020133,0.943457,0.097167,129
2015-01-02 16:00:00,10.224339,0.309147,248.546075,5.145162,-0.572396,0.0000,0.719278,0.000000,2.574673,0.080415,...,1.261972,0.771012,0.029724,4.906789,0.410802,0.000000,0.000000,0.986575,0.000000,319
2015-01-03 16:00:00,1.184568,0.202927,4.234107,0.525183,-0.211379,0.0000,0.677753,0.029410,0.374574,0.053213,...,0.142026,0.345027,0.018041,1.118697,0.142312,0.256067,0.000000,0.878370,0.098130,214
2015-01-04 16:00:00,50.425818,0.188897,122.382213,18.905522,-0.326073,0.0000,0.633953,0.022875,12.360809,0.056495,...,4.608064,3.219616,0.024241,8.137097,1.221484,0.314517,0.000000,0.862989,0.109769,217
2015-01-05 16:00:00,5.090166,0.240544,8.394294,2.235134,-0.515234,0.0000,0.592250,0.000000,1.347237,0.063766,...,0.551064,0.480120,0.027094,1.383764,0.224975,0.243353,0.000000,0.887911,0.099278,393

In [573]:
for col in df.columns:
    df.loc[first_hour_mask, col] = (df.loc[first_hour_mask, col] + closed_market[col])/2

In [574]:
df.head()

,max_comp,max_neg,max_neu,max_pos,min_comp,min_neg,min_neu,min_pos,std_comp,std_neg,...,std_pos,mean_comp,mean_neg,mean_neu,mean_pos,median_comp,median_neg,median_neu,median_pos,count
post_date,,,,,,,,,,,,,,,,,,,,,
2015-01-01 16:00:00,9.255565,0.408423,23.589473,4.293485,-0.881480,0.0028,0.65099,0.009233,3.220373,0.141875,...,1.444559,1.429859,0.063685,4.886909,0.757266,0.095494,0.010067,0.971728,0.048583,79.0
2015-01-01 17:00:00,4.734320,0.216000,10.564800,1.835200,-0.510600,0.0000,0.62790,0.000000,1.307725,0.059908,...,0.497896,0.566561,0.016615,1.813073,0.274158,0.084920,0.000000,0.992200,0.107800,13.0
2015-01-01 18:00:00,0.700590,0.088000,1.100000,0.303600,-0.102700,0.0000,0.78960,0.000000,0.279713,0.022722,...,0.114634,0.174811,0.005867,0.972887,0.081247,0.000000,0.000000,1.000000,0.000000,15.0
2015-01-01 19:00:00,0.577500,0.190050,1.100000,0.244000,-0.500535,0.0000,0.75600,0.000000,0.378187,0.074224,...,0.096474,0.118023,0.038846,0.919596,0.080019,0.000000,0.000000,0.882000,0.000000,13.0
2015-01-01 20:00:00,0.609620,0.176400,1.050000,0.307650,-0.443730,0.0000,0.70700,0.000000,0.335681,0.062723,...,0.126519,0.157515,0.032335,0.922935,0.109435,0.000000,0.000000,0.949300,0.079800,17.0

In [575]:

stocks = pd.read_csv(f'../datasets/stocks_clean/{company}.csv', parse_dates=['date_'])
stocks.rename(columns={"date_": "post_date"}, inplace=True)
stocks = stocks.set_index("post_date")

In [576]:
stocks.head()

                    ticker     open    high      low     close       vol
post_date
2015-01-02 17:00:00   AAPL  111.390  111.44  108.650  109.5000   9886884
2015-01-02 18:00:00   AAPL  109.490  109.71  107.350  108.2850  12628997
2015-01-02 19:00:00   AAPL  108.290  108.79  107.850  108.7761   6291776
2015-01-02 20:00:00   AAPL  108.770  109.59  108.755  109.3550   5049924
2015-01-02 21:00:00   AAPL  109.355  109.47  108.750  108.9900   3663606

In [577]:
stocks["diffs"] = stocks.close.pct_change() * 100
stocks["bin_2"] = pd.cut(stocks.diffs, bins=[-100, 0, 100], labels=[-1, 1])
stocks["bin_3"] = pd.cut(stocks.diffs, bins=[-100, -0.25, 0.25, 100], labels=[-1, 0, 1])
stocks["bin_5"] = pd.cut(stocks.diffs, bins=[-100, -0.75, -0.25, 0.25, 0.75, 100], labels=[-2, -1, 0, 1, 2])

In [578]:
test = stocks.merge(df, how='outer', left_index=True, right_index=True)

In [579]:
test = test.dropna().reset_index()

In [580]:
test.to_csv(f'../datasets/v2/full_weighted/w1/{company}.csv', index=False)